/* ==UserStyle==
@name           Anandtech.com - [Dark]
@namespace      https://gitlab.com/uro666
@version        1.0.1
@description    A dark themed restyling of Anandtech.com
@author         Uro (https://gitlab.com/uro666)
@homepageURL    https://gitlab.com/uro666/userstyles
@supportURL     https://gitlab.com/uro666/userstyles/-/issues
@updateURL      https://gitlab.com/uro666/userstyles/-/raw/main/anandtech/anandtech-dark.user.css
@license        MIT
@preprocessor   default
==/UserStyle== */

@-moz-document domain("www.anandtech.com") {
    /* front page */
    body {
        background: #292929!important;
    }
    body > .header {
        margin: 0 auto;
    }
    body > .content {
        margin: 0 auto;
    }
    body > .footer {
        margin: 0 auto;
    }
    .content {
        padding-top: 20px;
    }
    .main_cont {
        background: #383838!important;
        border-left: 8px solid #383838;
        border-right: 8px solid #383838;
    }
    .main_cont .breadcrumb {
        width: 100%;
    }
    .sidebar,
    .header,
    .animenu {
        background: #383838!important;
        color: #ccc;
    }
    .animenu ul {
        background: none;
    }
    .twitter {
        display: none;
    }
    .cont_box1_pic {
        background: #2b2b2b;
        border: 1px solid #000000;
    }
    .cont_box1_txt p,
    .sponsored_add p {
        color: #ccc;
    }
    .pipeline {
        background: #4c4c4c;
        color: #ccc;
    }
    /* articles */
    .blog_top_left h1,
    .blog_top_left h2,
    div.articleContent p {
        color: #ccc;
    }
    div.articleContent h3 {
        color: #636dbb;
    }
    .blog_top_left ul li a {
        background: #272727;
        border: 1px solid black;
    }
    .blog_comments {
        color: #ccc;
    }
    .blog_comments > h3 > a {
        color: #fff;
    }
    p > span {
        color: #ccc !important;
    }
}

@-moz-document url-prefix("https://www.anandtech.com/bench/") {
    /* Benchmarks page */
    .cpu_benchmarks,
    .product_rating,
    .bench_result_cont,
    .bench_box {
        background: #777;
    }
    .rating_bench strong {
        color: black !important;
    }
    .rating_bench {
        color: white !important;
    }
}

@-moz-document url-prefix("https://www.anandtech.com/home/about/") {
    /* About page */
    html body section.content section.main_cont div.sidepadding.review div.articleContent div {
        background: #313131 !important;
    }
}

@-moz-document url-prefix("https://www.anandtech.com/tag/") {
    body,
    h1.tag_title {
        color: #ccc
    }
    .main_cont {
        width: 700px;
    }
}