/* ==UserStyle==
@name           ArsTechnica.com - [Dark]
@namespace      https://gitlab.com/uro666
@version        1.0.1
@description    A dark themed restyling of ArsTechnica.com
@author         Uro (https://gitlab.com/uro666)
@homepageURL    https://gitlab.com/uro666/userstyles
@supportURL     https://gitlab.com/uro666/userstyles/-/issues
@updateURL      https://gitlab.com/uro666/userstyles/-/raw/main/arstechnica/arstechnica-dark.user.css
@license        MIT
@preprocessor   default
==/UserStyle== */

@-moz-document url-prefix("https://arstechnica.com/") {
    @namespace url(http://www.w3.org/1999/xhtml);
    .shortcode-caption,
    .pullbox,
    .post-tease,
    .post-meta,
    body,
    main,
    figure.intro-image figcaption {
        background-color: #323232;
        background-image: linear-gradient(to bottom, #323232 0, #323232 100%)!important;
    }
    .comments-row #comments-area #comments > li > .body .quotecontent,
    .comments-row #comments-area #comments > li > header .author,
    #author-footer .author-social-footer strong,
    .comments-row #comments-area #comments > li > .body,
    .shortcode-caption,
    .post-tease .post-meta h2 a,
    figure.intro-image figcaption,
    figure.intro-image figcaption .credit,
    .post-lowerdek,
    article.single .post-title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: beige!important;
    }
    .site-wrapper {
        max-width: 2540px;
        width: 60%;
        background-color: #323232;
    }
    .site-footer {
        background-color: #323232;
    }

    ul {
        color: #ffffff;
    }
    li > .tease,
    .article > header {
        border-radius: 10px;
        color: #ffffff!important;
        background: linear-gradient(to bottom, #686868 0, #323232 100%)!important;
        background-color: #323232!important;
        background-image: linear-gradient(to bottom, #686868 0, #323232 100%)!important;
    }
    li > .tease,
    .article > header > h2,
    a {
        color: #fff!important;
    }
    li > .tease,
    .article::after {
        border-right-color: #323232!important;
        border-bottom-color: #323232!important;
        border-left-color: #323232!important;
    }
    li > .tease,
    .article > header > h2,
    a {
        color: #ff8400 !important;
    }
    .crumb {
        color: #fff;
    }
    .article-single,
    .article-content {
        color: beige!important;
    }
    .article-single figure img {
        mix-blend-mode: normal;
    }
    .ars-component-buy-box .ars-affiliate-disclaimer-message {
        color: #bdbdbd;
    }
    .article-single table {
        color: #ffffff;
        background-color: #323232;
    }
    .article-single table tbody tr:nth-child(2n+1) td,
    .article-single table tbody tr:nth-child(2n+1) th {
        background-color: #323232;
    }
    .article-single blockquote {
        background-color: #535353;
    }
    .article-single .sidebar.story-sidebar {
        color: #ffffff;
    }
    .article-single blockquote.large .pullquote-content {
        color: #ff8400;
        border-color: #ff8400;
    }
    .article-single blockquote .pullquote-attribution {
        color: #ff8400;
    }
    .listing-latest .article header {
        padding-left: 10px;
    }
    .ars-appeal-container {
        background-color: #575757;
    }
    .ars-appeal-whitelist-consider-support .ars-appeal-btn > .button,
    .button-large,
    .button-wide {
        color: #ffffff!important;
    }
    .article-single .column-wrapper .xrail {
        display: none;
    }
    .article-single .column-wrapper .left-column {
        width: calc(100%);
    }
    .article-single .article-header .post-meta .byline .date,
    .article-single .article-header .post-meta .byline a:hover {
        color: beige!important;
    }
    .article-single .article-intro {
        background-color: #575757;
    }
    .woocommerce-loop-product__link > .woocommerce-loop-product__title {
        background-color: #000;
    }
    .container--footer,
    .footer--site,
    .wrapper {
        background-color: #323232;
    }
    .ars-subscription-products > li :nth-child(n) {
        background-color: #515151;
    }

    .post-tease::after,
    #recommendations-footer #story-recommendations,
    #recommendations-footer .heading-column,
    #recommendations-footer #sponsored-recommendations,
    footer#footer {
        display: none
    }
    #recommendations-footer #latest-stories,
    #author-footer,
    .comments-row #comments-area #comments > li {
        border: none;
    }
    header#header,
    .post-tease .post-meta {
        margin-top: 0px;
        border: none;
    }
    .post-tease .comment-count {
        display: none;
    }

    .index-row .post-tease,
    .index-row.features .post-tease:first-child,
    .index-row.features .post-tease:last-child {
        width: 50%!important;
    }

    .row {
        display: table;
        margin: auto;
    }

    .post-tease figure {
        padding-bottom: 25%;
    }

    .post-tease figure div {
        height: 200px;
    }

    .comments-row #comments-area .pager .comment-pagination {
        float: none;
    }
}