/* ==UserStyle==
@name           RPiLocator.com - [Dark]
@namespace      https://gitlab.com/uro666
@version        1.2.2
@description    A dark themed restyling of rpilocator's bootstrap
@author         Uro (https://gitlab.com/uro666)
@homepageURL    https://gitlab.com/uro666/userstyles
@supportURL     https://gitlab.com/uro666/userstyles/-/issues
@updateURL      https://gitlab.com/uro666/userstyles/-/raw/main/rpilocator/rpilocator-dark.user.css
@license        MIT
@preprocessor   default
==/UserStyle== */

@-moz-document domain("rpilocator.com"),
domain("www.rpilocator.com") {
    /* Nav menu */
    nav *,
    .navbar-brand *,
    body {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        color: #fff;
    }

    .bg-dark {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    .dropdown-menu,
    #navbarDropdown,
    .dropdown-item {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        color: #fff;
    }
    .dropdown-item:focus,
    .dropdown-item:hover {
        background-color: rgba(0, 0, 0, .5) !important;
        color: #B1C4D7;
    }

    hr .dropdown-divider {
        background-color: #fff;
    }

    .navbar-dark .navbar-brand {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        color: #FFF;
    }

    .navbar-dark .navbar-text a,
    .navbar-dark .navbar-text a:focus,
    .navbar-dark .navbar-text a:hover {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        color: #0068FF;
    }

    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .show > .nav-link {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        color: #fff;
    }

    .form-control::placeholder {
        background-color: #fff;
    }

    .form-control {
        background-color: #fff !important;
        color: #000;
    }

    .bi-twitter::before {
        color: #00acee;
    }

    /* Tables */
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        background-color: #363636;
        color: #fff;
    }

    .thead-light tr th {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    .table {
        --bs-table-bg: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: #212529;
        --bs-table-striped-bg: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
        --bs-table-active-color: #212529;
        --bs-table-active-bg: rgba(var(--bs-dark-rgb), 0.5);
        --bs-table-hover-color: #B1C4D7;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.5);
        color: #212529;
    }

    .table-success * {
        background-color: #00bc8c;
        --bs-table-bg: #00bc8c;
        --bs-table-striped-bg: #00bc8c;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #00bc8c;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #00bc8c;
        --bs-table-hover-color: #000;
        color: #fff;
        border-color: #bcd0c7;
    }

    .table-success .bi {
        color: #0068FF;
    }

    .table-success a {
        color: #0068FF;
    }
}
