/* ==UserStyle==
@name           phoronix.com [Dark]
@namespace      gitlab.com/uro666
@version        0.5.2
@description    A dark themed restyling of the Phoronix Linux news website and forum threads
@author         Uro (https://gitlab.com/uro666)
@homepageURL    https://gitlab.com/uro666/userstyles
@supportURL     https://gitlab.com/uro666/userstyles/-/issues
@updateURL      https://gitlab.com/uro666/userstyles/-/raw/main/phoronix/phoronix-dark.user.css
@license        MIT
@preprocessor   default
==/UserStyle== */

@-moz-document regexp("https?://(?:www.)?(phoronix.com)(?!/forums/\\\00002a)(?:[?])*(.+)*") {

    /************************/
    /** Phoronix Main Site **/
    /************************/
    /** Body Section **/
    body {
        text-align: left;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        background: #252525;
        min-height: 100%;
    }

    h1,
    p,
    h2 {
        color: #FFFFFF;
    }

    #content-bg {
        width: 100%;
        background: #252525;
        overflow: hidden;
    }
    #content {
        background: #2F2F2F;
        border-left: 1px solid #B3B3B3;
        border-right: 1px solid #B3B3B3;
        margin: 0 auto;
        overflow: hidden;
        width: 70%;
        max-width: 100%;
    }

    #sidebar aside header,
    .article-box header,
    #about-author header,
    .wide-article-box header {
        font-size: 18px;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    .popular-list span.comments {
        font-size: 12px;
        color: #A6A6A6;
    }

    #sidebar aside {
        color: #A6A6A6;
    }

    #main {
        margin-right: 344px;
        max-width: 100%;
        padding: 30px;
        border-right: 1px solid #B3B3B3;
    }
    /** Main Page Articles & Article Pages **/
    article {
        color: #FFFFFF;
    }

    article .details,
    article .details a {
        color: #A6A6A6;
        font-size: 12px;
    }

    article.full header,
    article.full h1 {
        font-size: 25px;
        font-weight: normal;
        text-align: left;
        color: #FFFFFF;
    }

    article.full img {
        min-width: 70%;
        max-width: 100%;
        border: 1px solid #999;
        padding: 2px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    blockquote {
        padding: 10px 30px;
        font-style: italic;
        font-weight: 700;
        color: #B5B5B5;
    }

    img[type="image/svg+xml"] {
        border: none !important;
        background: #FFFFFF;
    }


    #sharebar {
        overflow: hidden;
        background: #EFEFEF;
        border: 1px solid #CCC;
        padding: 7px;
        border-radius: 2px;
    }

    /** Image Container Page **/
    div#phxcms_image_container {
        padding: 0 0 10px;
        margin: 10px auto;
        width: 90%;
        color: #FFFFFF;
        background: #2F2F2F;
        overflow: inherit;
        border: 2px solid #EFEFEF;
    }

    div#phxcms_image_container p {
        text-align: center;
        font-weight: bold;
        color: #FFFFFF;
    }



    div#phxcms_image_container img {
        min-width: 70%;
        max-width: 100%;
    }

    #about-author p {
        font-size: 16px !important;
        color: #FFFFFF;
    }
}


@-moz-document regexp("https?:\\/\\/(?:www\\.)?(phoronix\\.com)(?=/forums/\\\00002a *)(?:[\\?])*(.+)*") {
    
    /*********************/
    /** Phoronix Forums **/
    /*********************/
    
    body {
        background: none 0 0, #252525;
        color: #FFFFFF;
        font: 14px 'Segoe UI', 'Open Sans', Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
    }

    .b-top-menu__background {
        background: #A6A6A6;
        color: #000000;
    }
    .b-comp-menu-dropdown__trigger--headerbar {
        color: #2F2F2F;
    }
    .b-comp-menu-dropdown__trigger--headerbar:hover {
        color: #000000;
    }

    .b-comp-menu-dropdown__trigger--headerbar .b-icon__arrow-down-s {
        margin-left: 6px;
        color: #000;
        background-color: #000;
    }

    .breadcrumbs-wrapper {
        background: rgba(111, 111, 111, 255);
    }

    #breadcrumbs .crumb-link {
        color: #FFFFFF;
        background: rgba(111, 111, 111, 255);
    }

    .notices {
        background: rgba(111, 111, 111, 255);
    }

    .notice {
        padding: 6px 10px;
        border: 0;
        background: none 0 0, #faf5d8;
        color: #252c2f;
        margin-bottom: 15px;
        min-height: 16px;
        border-radius: 3px;
    }

    .view-mode .widget-no-border > .widget-header {
        background: #A6A6A6;
        color: #FFFFFF;
        border: 0;
        margin: 0;
        min-height: 0;
    }

    .page-title-widget .module-title,
    .page-title-widget .module-title h1 {
        color: #000000;
        font: bold 16px 'Segoe UI', 'Open Sans', Arial, sans-serif;
        text-transform: none;
        text-align: left;
    }

    .view-mode .widget-tabs .widget-tabs-nav,
    .widget-tabs .widget-tabs-nav .ui-tabs-nav,
    .widget-tabs .widget-tabs-nav li.ui-tabs-active a,
    .widget-tabs .widget-tabs-nav li.ui-tabs-active a:hover {

        background: #A6A6A6 !important;
        color: #000000;
    }

    .widget-tabs .widget-tabs-nav .ui-tabs-nav li a {
        padding: 0 10px !important;
        color: #252525;
        text-decoration: none;
    }

    .conversation-toolbar-wrapper .conversation-toolbar {
        background: none 0 0, #A6A6A6;
        border: 1px solid #A6A6A6;
        color: #FFFFFF;
    }

    .b-form-input__input,
    .cke_dialog_body .cke_dialog_contents .b-form-input__input {
        background: none 0 0, #A6A6A6;
        border: 1px solid #A6A6A6;
        border-radius: 3px;
        color: #FFFFFF;
    }

    .b-post__count,
    .b-post__timestamp {
        color: #FFFFFF !important;
    }

    .b-divider--post-controls {
        color: #A6A6A6;
    }

    .b-post-control,
    .b-post-control__bubble-flyout {
        color: #FFFFFF;
    }

    #content {
        padding: 10px 20px 0;
        background: rgba(111, 111, 111, 255);
        width: 100%;
        min-width: 320px;
        max-width: 1200px;
        margin: auto;
        box-sizing: border-box;
    }

    .b-post--first:not(.b-post--unapproved) .b-post__body {
        background: #2F2F2F;
        color: #FFFFFF;
    }

    .OLD__post-content {
        background: #2F2F2F;
        color: #FFFFFF;
    }

    .b-bbcode__url--preview {
        padding: 20px;
        margin: 10px 0px;
        background: #C9C8C8;
        display: flex;
        --thumb-size: 90px;
    }
    .b-bbcode__url--preview .urlimg_container img {
        max-width: none;
        max-height: none;
        width: var(--thumb-size);
        height: var(--thumb-size);
        object-fit: scale-down;
        background: none 0 0, #3e783b;
    }

    .b-post {
        border: 0 transparent;
        margin-top: 10px;
        width: 100%;
        border-radius: 3px;
        padding-bottom: 0;
        background: none 0 0, #252525;
        color: #FFFFFF;
        position: relative;
        box-sizing: border-box;
    }

    .b-userinfo {
        text-align: center;
        color: #FFFFFF;
    }

    .b-post__body {
        background: #2F2F2F;
    }

    .b-post__content {
        color: #FFFFFF;
        font: 14px 'Segoe UI', 'Open Sans', Arial, sans-serif;
    }

    .b-post__timestamp > time {
        color: #FFFFFF;
    }

    .quote_container span {
        color: #C9C8C8;
    }
    #footer-copyright {
        color: #FFFFFF;
    }
}