/* ==UserStyle==
@name           TheRegister - [Darkened]
@namespace      https://gitlab.com/uro666
@version        1.0.1
@description    A dark themed restyling of TheRegister.com
@author         Uro (https://gitlab.com/uro666)
@homepageURL    https://gitlab.com/uro666/userstyles
@supportURL     https://gitlab.com/uro666/userstyles/-/issues
@updateURL      https://gitlab.com/uro666/userstyles/-/raw/main/theregister/theregister-dark.user.css
@license        MIT
@preprocessor   default
==/UserStyle== */
@-moz-document url-prefix("https://www.theregister.co.uk/Print/"),
url-prefix("https://forums.theregister.co.uk/"),
url-prefix("https://www.theregister.co.uk/"),
url-prefix("https://forums.theregister.co.uk/post/"),
url-prefix("https://account.theregister.co.uk/"),
url-prefix("https://search.theregister.co.uk/"),
url-prefix("https://www.theregister.com/Print/"),
url-prefix("https://forums.theregister.com/"),
url-prefix("https://www.theregister.com/"),
url-prefix("https://forums.theregister.co.uk/post/"),
url-prefix("https://account.theregister.com/"),
url-prefix("https://search.theregister.com") {
    /* LEGACY PRINT VIEW (https://www.theregister.co.uk/Print/REST-OF-URL) */
    #masthead {
        background: #800;
    }
    #masthead {
        box-shadow: -2000px 0px #800, -1000px 0px #800, 1000px 0px #800, 2000px 0px #800;
    }
    body {
        background-color: #070707;
        color: #bbb;
    }
    #article h2 {
        color: #fff;
    }
    #article .standfirst {
        color: #ddd;
    }
    a:link {
        color: #f55;
    }
    a:visited {
        color: #a00;
    }
    .crosshead {
        color: #fff;
    }
    .CaptionedImage img {
        background-color: #bbb;
    }
    #body pre {
        background: #222;
        border: 0.7px solid #bbb;
    }

    /* TOP MENU */
    #top_nav,
    #site_nav.glue #top_nav {
        background: #555;
    }
    #top_nav a {
        color: #fff;
    }
    #nav_pop > div {
        background: #070707;
    }
    #nav_pop .story_row a {
        color: #ccc;
    }
    #nav_pop .story_row a:visited {
        color: #888;
    }
    #nav_pop .story_row a:hover {
        color: #fff;
    }

    /* FORUMS */
    body:not(.DYNX) #page {
        background: #111;
        color: #bbb;
    }
    body:not(.DYNX) #masthead {
        background: #800;
    }
    .alt_colour a:link,
    a.alt_colour:link {
        color: #f90;
    }
    .alt_colour.dcl a:hover,
    .alt_colour.dcl a:focus,
    .alt_colour a:hover,
    .alt_colour a:focus,
    a.alt_colour.dcl:hover,
    a.alt_colour.dcl:focus {
        color: #fd6;
    }
    #forum_posts h4 {
        color: #eee;
    }
    #forum_posts .post {
        color: #888;
    }
    #forum_posts .status,
    #forum_posts .err {
        background: #855;
        color: #eee;
    }
    #forum_posts .author:hover,
    #forum_posts .author:focus,
    #forum_posts .dateline:hover,
    #forum_posts .dateline:focus {
        color: #fff;
    }
    #forum_posts .author,
    #forum_posts .dateline {
        color: #aaa;
    }
    #forum_posts form.report .text_btn:hover,
    #forum_posts form.report .text_btn:focus {
        color: #f33;
    }
    #forum_posts a.in-reply-to img:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
    #comment-form {
        background: #272727;
    }
    #comment-form h2,
    #comment-form p {
        color: #eee;
    }
    #comment-form .body textarea,
    #comment-form .field input {
        color: #ddd;
        background-color: #070707;
    }
    #comment-form .body textarea.prompt {
        color: #888;
        background-color: #070707;
    }
    #comment-form #user_comment_block #comment_tabs li {
        background: #000;
        color: #999;
    }
    #comment-form #user_comment_block #comment_tabs li.current {
        background: #566;
        color: #fff;
    }
    #comment-form .icons {
        background-color: #171717;
        color: #fff;
    }
    #comment-form .dynamic .selected span,
    #comment-form .dynamic .selected img {
        border: 2px solid #06f;
        border-radius: 15px;
        background-color: #00ebff;
    }
    #comment-form .dynamic img {
        background-color: #ccc;
    }
    #comment-form #icon_select_disabled {
        background-color: rgba(128, 0, 0, .5);
        border: 3px solid #f00;
    }
    #comment-form .reg_btn {
        color: #000;
        background: #eee;
        font-size: .9em;
    }
    #comment-form .field label {
        color: #000;
    }
    body.forums p.status,
    body.forums p.err {
        background: #433;
        border: red solid 1px;
    }
    body.forums .nested ol.indent.even > li > .post > .content > .body > .fadeout {
        background: linear-gradient(rgba(242, 242, 242, 0), #171717);
    }
    body.forums .nested ol.indent.odd > li > .post > .content > .body > .fadeout {
        background: linear-gradient(rgba(242, 242, 242, 0), #111);
    }
    ol.indent.level-0.odd .post .body .fadeout {
        background: linear-gradient(rgba(242, 242, 242, 0), #111);
    }
    #forum_posts .post .resize_content {
        color: #800;
    }
    body:not(.DYNX) #forums_page h1 .forum_headline {
        color: #ddd;
    }
    #forum_posts .post .body a:link,
    #forums_page #comment-form .hint a:link,
    #comment-form .guidelines a {
        color: #0ac;
    }
    #forums_page #comment-form .hint a:hover,
    #forums_page #comment-form .hint a:focus,
    #forum_posts .post .body a:hover,
    #forum_posts .post .body a:focus,
    #comment-form .guidelines a:hover,
    #comment-form .guidelines a:focus {
        color: white;
        background: #0066cc;
        outline: 0.05em solid #0066cc;
    }
    .forums-page-nav li a:link {
        color: #fff;
    }
    .forums-page-nav li a:visited {
        color: #888;
    }
    .forums .abstract {
        color: #aaa;
    }
    .forum_headline {
        color: #800 !important;
    }
    body.forums .nested ol.indent.odd > li {
        background-color: #111;
        border-bottom: 0.5em solid #171717;
    }
    body.forums .nested ol.indent.even > li {
        background-color: #171717;
        border-bottom: 0.5em solid #111;
    }
    #forum_posts {
        border: #272727 1px solid;
    }
    .post .actions .vote {
        color: #aaa;
    }
    #sorting_order form {
        background: #444;
    }
    #forums-nav #rhs_forums_nav_tab li {
        background-color: #444;
    }
    #forums-nav #rhs_forums_nav_tab li:last-child {
        background-color: #272727;
    }
    #forums-nav #rhs_forums_nav_tab li h4 a.dcl {
        color: #f55;
    }
    .forum_post_action_vote_msg {
        background: #800;
        box-shadow: 1px -1px red;
    }
    body.forums table.idx.dcl td.section.img a:link p,
    body.forums table.idx.dcl td.latest h5 a:link {
        color: #bbb;
    }
    body.forums table.idx.dcl td.forum a:link {
        color: #fff;
    }
    body.forums table.idx.dcl td.forum a:visited,
    body.forums table.idx.dcl td.section.img a:visited h3,
    body.forums table.idx.dcl td.section.img a:visited p,
    body.forums table.idx.dcl td.latest a:visited {
        color: #777;
    }
    body.forums table.idx.dcl td.forum a:hover,
    body.forums table.idx.dcl td.section.img a:hover {
        color: #bbb;
    }
    body.forums h2#section-title.dcl a {
        color: #f55;
    }
    body.forums table.idx.dcl td.section.img a:hover h3,
    body.forums table.idx.dcl td.section.img a:hover p,
    body.forums table.idx.dcl td.latest a:hover,
    body.forums h2#section-title.dcl a:hover {
        color: #fff;
    }

    /* ARTICLE VIEW */
    body #page {
        background: #111;
    }
    #article #body {
        color: #bbb;
    }
    #article #body .trailer {
        color: #eee;
    }
    #body .crosshead span {
        box-shadow: 0 -0.56em 0 #272727 inset;
    }
    #read_more_on a:link .standfirst,
    #whitepapers a:link .standfirst,
    .one_story.left a:link .standfirst,
    .srow article .article_text_elements .standfirst {
        color: #aaa;
    }
    #read_more_on a:visited .standfirst,
    #whitepapers a:visited .standfirst,
    .one_story.left a:visited .standfirst {
        color: #555;
    }
    #read_more_on a:hover .standfirst,
    #read_more_on a:hover h4,
    #whitepapers a:hover .standfirst,
    #whitepapers a:hover h4,
    .one_story.left a:hover .standfirst,
    .one_story.left a:hover h3 {
        color: #eee;
    }
    #story_section_break {
        background: #070707;
        border-top: 2em solid #111;
    }
    #body blockquote.centredquote p,
    #body blockquote.pullquote p {
        background: #222;
        display: inline;
        box-shadow: 10px 0 0 #222, -12px 0 0 #222;
        color: #ddd;
    }
    #body .boxout,
    #body .sidebar,
    #article_newsletter_signup {
        background: #222;
    }
    #body .boxout::before,
    #body .sidebar::before,
    #article_newsletter_signup::before {
        background: #222;
        box-shadow: 3px -3px 0 white;
    }
    #body .boxout::after,
    #body .sidebar::after,
    #article_newsletter_signup::after {
        background: #222;
        box-shadow: -3px 3px 0 white;
    }
    .EmbeddedTweet-tweet,
    .EmbeddedTweet-ancestor {
        background: #222;
    }
    #article #body :not(.wptl):not(.CaptionedImage):not(.promo_article) a:link {
        color: #0ac;
    }
    #article #body .wptl.top a,
    #article #body .wptl.btm a {
        color: #25a;
    }
    #article #body :not(.wptl):not(.CaptionedImage):not(.promo_article) a:hover,
    #article #body :not(.wptl):not(.CaptionedImage):not(.promo_article) a:focus {
        color: white;
        background: #0066cc;
        outline: 0.05em solid #0066cc;
    }
    body.DYNX #crumb_trail a.dcl h4,
    body[data-pagetype="Archive"] #main-col #archive h2 a:link {
        color: #c00;
    }
    body.DYNX #crumb_trail a.dcl:hover h4,
    body[data-pagetype="Archive"] #main-col #archive h2 a:hover {
        color: #f55;
    }
    #body .blockextract {
        border-left: 6px solid #444;
    }
    #poll,
    #quiz {
        border: 1px solid #888;
    }
    #poll .view_results_widget button {
        color: #888;
        border: 1px solid #888;
    }
    #poll .reg_btn.poll_submit {
        border: 1px solid #fff;
    }
    #poll .poll_text {
        background: #444;
    }
    #poll .resultBar {
        border: 0.05em solid #171717;
    }
    #search-form {
        background-color: #272727;
    }
    .reg_tbl .stripe {
        background: #272727;
    }
    #crumb_trail a.dcl:not(.sub_sec):visited {
        color: #b00;
    }
    div#main-col div.byline_and_share span.byline_name_contact a.byline_name {
        color: #ccc;
    }

    /* HOME PAGE  -  SECTIONS PAGES  -  ARCHIVE  */
    body #top_tease h3:not(.story) {
        color: #fff;
    }
    body #top_tease a:link h3 {
        color: #ccc;
    }
    body #top_tease a:visited h3 {
        color: #888;
    }
    body #top_tease a:hover h3,
    body #top_tease a:focus h3 {
        color: #fff;
    }
    body a:link .standfirst,
    #top_tease a:link .standfirst,
    body article a.story_link div.article_text_elements div.standfirst,
    body div#article div.promo_article a h2 {
        color: #e55;
    }
    body #main-col a:link h4,
    body #main-col a:link .time_stamp,
    body[data-pagetype="Archive"] #main-col a:link h3 {
        color: #ccc;
    }
    body #main-col a:visited h4,
    body #main-col a:visited .time_stamp,
    body[data-pagetype="Archive"] #main-col a:visited h3 {
        color: #888;
    }
    body .alt_colour a:visited,
    a.alt_colour:visited,
    .alt_colour.dcl a:visited,
    a.alt_colour.dcl:visited {
        color: #f90;
    }
    body .alt_colour a:hover,
    a.alt_colour:hover,
    .alt_colour.dcl a:hover,
    a.alt_colour.dcl:hover {
        color: #fd6;
    }
    body a:visited .standfirst,
    #top_tease a:visited .standfirst,
    body article a.story_link:visited div.article_text_elements div.standfirst {
        color: #a55;
    }
    body a:hover .standfirst,
    body a:hover .time_stamp,
    body #main-col a:hover h4,
    #top_tease a:hover .standfirst,
    body[data-pagetype="Archive"] #main-col a:hover h3,
    body[data-pagetype="Archive"] #main-col a:hover .standfirst,
    body article a.story_link:hover div.article_text_elements div.standfirst {
        color: #fff;
    }
    body #top_tease .large_story {
        color: #272727;
    }
    #site_sect a {
        color: #ccc;
    }

    /* HOME PAGE - 2018 RESTYLING */
    .srow article {
        background: #222;
    }
    .srow article:hover {
        background: #373737;
    }
    .srow article .time_comments {
        color: #f90;
    }
    .rt-3c,
    .rt-3c article,
    .rt-3a .other_top_stories article .article_text_elements,
    .rt-3a .other_stories article .article_text_elements,
    .srow.rt-3a .other_stories article,
    .rt-3a article {
        background: #272727;
    }
    .srow.rt-3a article:last-child:hover,
    .rt-3a .other_top_stories article:hover .article_text_elements,
    .rt-3a .other_stories article:hover .article_text_elements,
    .srow.rt-3a .other_stories article:hover,
    .srow.rt-6a article:hover,
    .rt-3c .horiz_scroll article:hover,
    .rt-3a article:hover {
        background: #333;
    }
    .srow article .article_text_elements .section_name {
        color: #f55;
    }
    .srow article:hover .article_text_elements .section_name {
        color: #f90;
    }
    .srow .feed-blocksandfiles,
    .srow .feed-blocksandfiles article,
    .srow.rt-6a article,
    .rt-3c .horiz_scroll article {
        background-color: #000;
    }
    .srow .feed-devclass .devclass_link .title_rhs_line,
    .srow .feed-devclass .devclass_link .rhs_line,
    .srow .feed-blocksandfiles .blocksandfiles_link .title_rhs_line,
    .srow .feed-blocksandfiles .blocksandfiles_link .rhs_line {
        color: #ffd800;
    }
    .srow .feed-blocksandfiles .blocksandfiles_link:hover {
        color: #fff;
    }
    .srow .feed-blocksandfiles article:hover,
    .srow .feed-devclass article:hover {
        color: #fff;
        background-color: #222;
    }
    .srow .feed-blocksandfiles .blocksandfiles_logo img,
    a.blocksandfiles_logo img,
    a.devclass_logo img {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
    .rt-7a .faux-article,
    #story_rhs_ml_signup {
        background: #555;
    }
    .has_lateral_ornaments {
        color: #fff;
    }


    /* block banner white replacement begins */
    [class^="srow rt-9"] {
        background-color: #717171;
        box-shadow: -15px 0px #717171, 15px 0px #717171;
    }
    [class^="srow rt-9"] .other_stories .has_label {
        background-color: #717171;
        box-shadow: -1940px 0px #717171, -970px 0px #717171, 970px 0px #717171, 1940px 0px #717171;
    }
    [class^="srow rt-9"] .other_stories {
        background-color: #717171;
    }

    /* block banner white replacement ends */
    #whitepapers h3 a.dcl {
        color: #bbb;
    }
    #whitepapers h3 a.dcl:hover {
        color: #fff;
    }
    .srow.rt-broadcast {
        background: #333;
    }
    .srow.rt-broadcast .box.second .webcast_asset form .open_privacy_blob {
        color: #f90;
    }
    #archive .trailer,
    #read_more_on .trailer,
    .headlines .trailer {
        color: #f90;
    }
    a.row_title_link.has_lateral_ornaments,
    h4.dcl a.has_lateral_ornaments {
        color: #fff;
    }
    .rt-virtual-carousel {
        background: #333;
        box-shadow: -15px 0 0 0 #333, 15px 0 0 0 #333;
    }
    .rt-virtual-carousel div.top_webcast img.sponsor {
        -webkit-filter: invert(1);
        filter: invert(1);
    }


    /* "Most Read" section on stories and homepage */
    body[data-pagetype] #right-col #hot {
        background: #222;
        box-shadow: inset 0px 11px #333;
    }
    body[data-pagetype] #right-col #hot h3,
    body[data-pagetype="Story"]:not(.timeless) #right-col #hot h3 {
        color: #eee;
    }
    body[data-pagetype] #right-col #hot ol li a:link,
    body[data-pagetype="Story"]:not(.timeless) #right-col #hot ol li a:link {
        color: #f55;
    }
    body[data-pagetype] #right-col #hot ol li a:visited,
    body[data-pagetype="Story"]:not(.timeless) #right-col #hot ol li a:visited {
        color: #a00;
    }
    body[data-pagetype] #right-col #hot ol li a:hover,
    body[data-pagetype] #right-col #hot ol li a:focus,
    body[data-pagetype] #right-col #hot ol li a:active,
    body[data-pagetype="Story"]:not(.timeless) #right-col #hot ol li a:hover,
    body[data-pagetype="Story"]:not(.timeless) #right-col #hot ol li a:focus,
    body[data-pagetype="Story"]:not(.timeless) #right-col #hot ol li a:active {
        color: #fff;
    }
    body[data-pagetype="Index"] .dont_miss .story_link {
        background-color: #aaa;
    }

    /* "Popular" section on homepage */
    h2.row_label.title_rhs_line,
    h2.row_label.rhs_line {
        background: #111;
    }
    /* Mobile menu */
    #site_nav_mobile.glue {
        background-color: #aaa;
    }
    nav#top_nav_mobile.dcl.expand {
        background-color: #333;
    }
    #top_nav_mobile {
        box-shadow: inset -20px 0px 50px 0px #6f6e6e;
    }
    #top_nav_mobile #search_form_mobile input {
        color: #fff;
    }
    #top_nav_mobile.dcl.expand a:link {
        color: #f55;
    }
    #top_nav_mobile.dcl.expand a:visited {
        color: #a66;
    }
    html.with_mobile_menu_open #page_overlay_side {
        background: black;
        opacity: 0.4;
    }

    /* Footer */
    #sitpub_logo {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
    #footer .right_block .newsletter_and_social {
        background: #080808;
    }


    .comments > .comment_count > a,
    strong,
    img {
        color: #FFFFFF !important;
    }
    .comment > .comment_count > a,
    a:link,
    a:visited,
    a:focus,
    a:hover,
    a:active,
    ::after {
        color: #FFFFFF !important;
    }
    .comment::before {
        color: #FFFFFF !important;
    }
    .similar_topics > .keywords > a,
    a:link,
    a:visited,
    a:focus,
    a:hover,
    a:active,
    span {
        color: #FFFFFF !important;
    }
    #page #main-col .article_wrap .right_col .keyword_wrap .keyword_trigger::after,
    #page #main-col .article_wrap .hidden_col .keyword_wrap .keyword_trigger::after {
        border-top: 4px solid #FFFFFF !important;
    }
}