/* ==UserStyle==
@name           ScottishParliament TV - Video Resize
@namespace      https://gitlab.com/uro666
@version        1.0.1
@description    A restyling of the page to increase the size of the tiny video panel
@author         Uro (https://gitlab.com/uro666)
@homepageURL    https://gitlab.com/uro666/userstyles
@supportURL     https://gitlab.com/uro666/userstyles/-/issues
@updateURL      https://gitlab.com/uro666/userstyles/-/raw/main/scotparltv/scotparltv.user.css
@license        MIT
@preprocessor   default
==/UserStyle== */

@-moz-document regexp("https://scottishparliament\\.tv/meeting/.*"),
regexp("https://www\\.scottishparliament\\.tv/meeting/.*") {

    /* Main Banner*/
    .main-banner .basic-content {
        margin: 0 15% 0 15%;
        justify-content: center;
    }
    
    /* Content */
    .basic-content {
        padding: 5rem 5rem 5rem 5rem;
        min-width: 100%;
    }
    .basic-content .row {
        max-width: 100%;
        justify-content: center;
    }
    .basic-content .row:nth-child(1) {
        max-width: 100%;
    }
    .basic-content .row .col-sm-12 + .col-lg-6:nth-child(2) {
        max-width: 25%;
    }
    .final-panel {
        padding: 0;
        max-height: 70%;
    }
    .final-panel .row {
        padding: 0;
        margin: 0;
        min-width: 100%;
        overflow-y: auto;
    }
    #accordionPanelDetails {
        height: 900px;
        overflow-y: auto;
    }
}