/* ==UserStyle==
@name           Hacker News [Dark]
@version        1.0.0
@namespace      gitlab.com/uro666
@description    A dark themed restyling of the news.ycombinator.com Hacker News portal
@author         Uro (https://gitlab.com/uro666)
@homepageURL    https://gitlab.com/uro666/userstyles
@supportURL     https://gitlab.com/uro666/userstyles/-/issues
@updateURL      https://gitlab.com/uro666/userstyles/-/raw/main/hacker-news/hacker-news-dark.user.css
@license        MIT
@preprocessor   default
==/UserStyle== */

@-moz-document domain("news.ycombinator.com") {
    :root {
        color-scheme: light dark;
        --html-background-color: hsl(240, 4%, 9%);
        --hnmain-background-color: hsl(240, 4%, 9%);
        --hnmain-color: #FFF;
        --masthead-color: #FFF;
        --masthead-bg-color: #505050;
        --masthead-font-size: 0.95rem;
        --votelinks-width: 1.5rem;
        --votearrow-transform-scale: 1.6;
        --titleline-color: #DDD;
        --titleline-a-visited: #F4C3A3;
        --titleline-font-size: 0.9rem;
        --subline-font-size: 0.8rem;
        --sitebit-font-size: 0.8rem;
        --c00-hsl: hsl(0 0 90%);
        --a-link: #FF6600;
        --a-visited: #F4C3A3;
    }

    @media (prefers-color-scheme: dark) {
        /* HTML page params */
        html {
            background: var(--html-background-color);
        }

        /* Main page contents table */
        #hnmain {
            background: var(--hnmain-background-color);
            color: var(--hnmain-color);

            /* Masthead background colour */
            & > tbody > tr:first-child > td {
                background-color: var(--masthead-bg-color);
            }
            /* Masthead items font size & color */
            & > tbody > tr:first-child a {
                font-size: var(--masthead-font-size);
                color: var(--masthead-color);
            }
        }

        /* Increase width of SVG container td item */
        .votelinks {
            width: var(--votelinks-width);
        }

        /* Vote arrow SVG up-scale to fit wider parent td item */
        .votearrow {
            transform: scale(var(--votearrow-transform-scale));
        }

        /* Post title line links */
        .titleline > a:first-of-type {
            font-size: var(--titleline-font-size);
            color: var(--titleline-color);
        }

        /* Post title line visited links */
        .titleline > a:visited,
        .titleline > a:visited > span {
            color: var(--titleline-a-visited);
        }

        /* Subline items */
        .subline > span,
        .subline > a {
            font-size: var(--subline-font-size);
        }

        /* Subline Sitebit from?site= links */
        .sitebit > a,
        .sitebit > span {
            font-size: var(--sitebit-font-size);
        }

        /* .c00 Lightness */
        .c00 {
            color: var(--c00-hsl);
        }

        /* Default a:link */
        a:link,
        a:link > span,
        .c00 a:link {
            color: var(--a-link)
        }

        /* Default a:visited */
        a:visited,
        a:visited > span,
        .c00 a:visited {
            color: var(--a-visited);
        }
    }
}